* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

html,
body {
  color: white;
  background: radial-gradient(
    circle,
    rgba(7, 4, 29, 1) 0%,
    rgba(0, 0, 0, 1) 45%
  );
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}
